@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui"{
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: orange;
  --color-secondary: oklch(24.27% .057 59.825);
  --color-accent: oklch(16.076% .004 285.822);
  --color-base-100: oklch(14.27% .057 59.825); 
  --color-base-200: #f7b55f;
  --color-base-300: oklch(14.076% .004 285.822);
}

*{
  font-family: "Poppins", sans-serif;
  color:rgb(247, 181, 96)
}

a.active {
  @apply bg-secondary text-[#f7b55f]
 rounded-lg;
}

//--color-base-100 (outlet bg)
//--color-base-300 (header,footer bg)
//--color-base-200 (popular games border)
/--color-secondary (home, allgames about store bg)